@tailwind base;
@tailwind components;
@tailwind utilities;

.mirror-mode {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  will-change: transform;
}